In [2]:
# jupyter notebook
# spacy
print("hello")

hello

In [3]:
import spacy

In [4]:
nlp = spacy.blank("en")

doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")

for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate
.

In [5]:
type(nlp)

spacy.lang.en.English

In [ ]:
doc = nlp('Tony gave two $ to Peter')

In [7]:
token0 = doc[0]

In [1]:
import spacy
nlp = spacy.blank("en")

In [6]:
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, 
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

# TODO: Write code here
# Hint: token has an attribute that can be used to detect a url
doc = nlp(text)
urls = [token for token in doc if token.like_url]
urls

[http://www.data.gov/,
 http://www.science,
 http://data.gov.uk/.,
 http://www3.norc.org/gss+website/,
 http://www.europeansocialsurvey.org/.]

In [4]:
transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"
doc = nlp(transactions)
for token in doc:
    if token.like_num:
        current_amt = token
    if token.is_currency:
        print(f"{current_amt} {token}")

two $
500 €

In [4]:
import spacy

nlp = spacy.load("en_core_web_sm")

story = """Inflation rose again in April, continuing a climb that has pushed consumers to the brink and is threatening the economic expansion, the Bureau of Labor Statistics reported Wednesday.

The consumer price index, a broad-based measure of prices for goods and services, increased 8.3% from a year ago, higher than the Dow Jones estimate for an 8.1% gain. That represented a slight ease from March’s peak but was still close to the highest level since the summer of 1982.

Removing volatile food and energy prices, so-called core CPI still rose 6.2%, against expectations for a 6% gain, clouding hopes that inflation had peaked in March.

The month-over-month gains also were higher than expectations — 0.3% on headline CPI versus the 0.2% estimate and a 0.6% increase for core, against the outlook for a 0.4% gain.

The price gains also meant that workers continued to lose ground. Real wages adjusted for inflation decreased 0.1% on the month despite a nominal increase of 0.3% in average hourly earnings. Over the past year, real earnings have dropped 2.6% even though average hourly earnings are up 5.5%.

Inflation has been the single biggest threat to a recovery that began early in the Covid pandemic and saw the economy in 2021 stage its biggest single-year growth level since 1984. Rising prices at the pump and in grocery stores have been one problem, but inflation has spread beyond those two areas into housing, auto sales and a host of other areas.

Federal Reserve officials have responded to the problem with two interest rate hikes so far this year and pledges of more until inflation comes down to the central bank’s 2% goal. However, Wednesday’s data shows that the Fed has a big job ahead.

Credits: cnbc.com"""

In [14]:
doc = nlp(story)
nouns_list = []
num_list = []
for token in doc:
    if token.pos_ == 'NOUN':
        nouns_list.append(token.text)
    elif token.pos_ == 'NUM':
        num_list.append(token.text)
num_list

['8.3',
 '8.1',
 '1982',
 '6.2',
 '6',
 '0.3',
 '0.2',
 '0.6',
 '0.4',
 '0.1',
 '0.3',
 '2.6',
 '5.5',
 '2021',
 '1984',
 'one',
 'two',
 'two',
 '2']

In [12]:
count = doc.count_by(spacy.attrs.POS)
for k,v in count.items():
    print(f"{doc.vocab[k].text} :  {v}")

NOUN :  96
VERB :  27
ADV :  15
ADP :  39
PROPN :  16
PUNCT :  32
DET :  34
PRON :  4
AUX :  13
CCONJ :  10
ADJ :  23
SPACE :  7
NUM :  19
PART :  4
SCONJ :  8
X :  1

In [15]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [23]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
    print(ent, ' | ', ent.label_, ' | ', spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [24]:
from spacy import displacy

displacy.render(doc, style="ent")

In [31]:
from cProfile import label


text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

doc = nlp(text)

for ent in doc.ents:
    if ent.label_ == "GPE":
        print(ent, '\t', ent.label_)

print()


text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)
for ent in doc.ents:
    if ent.label_ == "DATE":
        print(ent, '\t', ent.label_)

India 	 GPE
Delhi 	 GPE
Gujarat 	 GPE
Tamilnadu 	 GPE
Andhrapradesh 	 GPE
Bihar 	 GPE

24 April 1973 	 DATE
5 November 1988 	 DATE
7 July 1981 	 DATE
19 December 1974 	 DATE